In [6]:
for _i in range(1, 100 + 1):

	print(_i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [7]:
for i in range(1, 100 + 1):

	if i % 3 == 0:
		print("fizz")
	else:
		print(i)

1
2
fizz
4
5
fizz
7
8
fizz
10
11
fizz
13
14
fizz
16
17
fizz
19
20
fizz
22
23
fizz
25
26
fizz
28
29
fizz
31
32
fizz
34
35
fizz
37
38
fizz
40
41
fizz
43
44
fizz
46
47
fizz
49
50
fizz
52
53
fizz
55
56
fizz
58
59
fizz
61
62
fizz
64
65
fizz
67
68
fizz
70
71
fizz
73
74
fizz
76
77
fizz
79
80
fizz
82
83
fizz
85
86
fizz
88
89
fizz
91
92
fizz
94
95
fizz
97
98
fizz
100

In [9]:
for i in range(1, 100 + 1):
	if i % 15 == 0:
		print("fizzbuzz")
	elif i % 3 == 0:
		print("fizz")
	elif i % 5 == 0:
		print("buzz")
	else:
		print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

## TIP : 히스토리를 남겨두는게 좋은 코드습관

## For, While

In [12]:
i = 0

while i < 11:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [14]:
name = ""
while name != "fool":
    name = input("What's your name? ")
    print("Hi, {}".format(name))

What's your name? 김패캠
Hi, 김패캠
What's your name? 이패캠
Hi, 이패캠
What's your name? 박패캠
Hi, 박패캠
What's your name? fool
Hi, fool

In [21]:
import random

answer = random.randint(1, 100+1)
print(answer)  # for debugging

trial = 5
while trial >= 1 :
    guess = int(input("Type some number: "))
    
    if guess == answer:
        print("Correct!")
        break
    else:
        if guess > answer:
            print("Too High")
        else:
            print("Too Low")
        trial -= 1
        print("Wrong! {} times left".format(trial))
        
if trial == 0:
    print("Game Over. Continue?")
else:
    print("You did it in {} time(s)".format(6 - trial))

63
Type some number: 11
Too Low
Wrong! 4 times left
Type some number: 1
Too Low
Wrong! 3 times left
Type some number: 1
Too Low
Wrong! 2 times left
Type some number: 1
Too Low
Wrong! 1 times left
Type some number: 1
Too Low
Wrong! 0 times left
Game Over. Continue?

## monty hall problem

In [48]:
 import random
 
 stay = 0
 switch = 0
trial = 100000
 
 for _i in range(1,trial+1):
    doors = [1,0,0]
    random.shuffle(doors)
    
    choice = random.randrange(3)
    guest = doors[choice]
    
    if guest == 1:
        stay += 1
    else:
        switch += 1
        
print("stay: ",stay/trial,"switch: ", switch/trial)

stay:  0.33369 switch:  0.66631

## Function 에 대해 알아보자

In [49]:
def fastcampus(num):
    _result = num + 3
    return _result

In [50]:
fastcampus(3)

6

In [51]:
print("Hi")

Hi

In [54]:
def print_(text):
    _result = "Fast " + text + " Campus"
    return _result

print_("Expensive")

'Fast Expensive Campus'

In [55]:
def no_input():
    return "Hi"

In [56]:
no_input()

'Hi'

In [60]:
def no_output(text):
    print(text,"with no output")

In [61]:
no_output("some")

some with no output

In [62]:
output = no_output("some")

some with no output

In [63]:
output

In [64]:
output = no_input()

In [65]:
output

'Hi'

### return이 없으면 변수에 할당이 안됨.

In [66]:
def multiple_return(a):
    b = a + 10
    return a, b

In [68]:
multiple_return(7)

(7, 17)

In [72]:
def decider(a):
    if a == 10:
        print("This was not I want.")
        return    # 중간에 끝내버리고 싶을 때  (skill)
    b = a + 3
    return b

In [70]:
decider(10)

This was not I want.

In [71]:
decider(2)

5

In [108]:
def calculator(op,x,y):
    if (type(x) == type(1)) and (type(y) == type(1)):
        
        print("type ok")
    else:
        print("문제가 있습니다.")
        return False
    # param1 : 연산자( "+", "-")
    # param2,3 : 숫자
    # 연산자가 "+" 일 때
    if op == "+":
        _result = x + y
    # 연산자가 "-" 일 때
    elif op == "-":
        _result =  x - y
    else:
        print("your operator is broken!!!")
        return False
    
    return _result

In [109]:
calculator("+",2,3)

type ok

5

In [110]:
calculator("-",2,3)

type ok

-1

## 왜 type check가 필요할까? 

-방어적 프로그래밍???

In [116]:
def is_leap(year):

    if year % 4:

    else:
        print("평년")
    # 4년에 한 번 윤년
    # 100으로 나누어 떨어지면 평년
    # 400의 배수면 윤년
    # 나머지 모두는 평년

In [119]:
def is_leap(year):
    if year % 4 == 0:
        if year % 100 == 0:

            if year % 400 == 0:
                print("윤년")
            else:
                print("평년")
        else:
            print("윤년")
    else:
        print("평년")
    # 4년에 한 번 윤년
    # 100으로 나누어 떨어지면 평년
    # 400의 배수면 윤년
    # 나머지 모두는 평년

In [120]:
is_leap(2000)

윤년

In [125]:
def is_leap(year):
    if year % 4 == 0 and ( year % 400 == 0 or year % 100 != 0) :
        _result = "Leap year"
    else:
        _result = "Plain year"
    return _result

In [129]:
is_leap(2105)

'Plain year'

In [130]:
def is_leap(year=2000):
    if year % 4 == 0 and ( year % 400 == 0 or year % 100 != 0) :
        _result = "Leap year"
    else:
        _result = "Plain year"
    return _result, year

In [131]:
is_leap()

('Leap year', 2000)

In [134]:
def call_me(name="Fool",fool=True):
    print("Hi, {}".format(name))
    if fool == True:
        print("But, you are fool")
    else:
        print("Oh,you are not fool")

In [135]:
call_me("facsss",False)

Hi, facsss
Oh,you are not fool

In [136]:
print("Hi","again",sep="\n")

Hi
again

## arguments

In [142]:
def mul_sum(*args):
    print(args)

In [143]:
mul_sum(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [165]:
def mul_sum(*args):
    _result = 0
    for _i in args:
        print(_i)
        _result += int(_i)
    return _result

In [166]:
mul_sum(1,2,3,4,5)

1
2
3
4
5

15

In [167]:
def kwargs_url(server, port, **query):
	url = "https://" + server + ":" + port + "?"
	for key in query.keys():
		url += key + "=" + query[key] + "&"
	return url

kwargs_url("localhost","8080", utm_source="google", keyword="naver")

'https://localhost:8080?utm_source=google&keyword=naver&'

In [168]:
def show_num(a):
    _result = a + 1
    return a, _result

In [169]:
show_num(10)

(10, 11)

## variable outside function

In [170]:
a = "hello"
def glob_test(a):
	a += "world"
	return a

glob_test(a)
print(a)
a = "hello"
def glob_test(x):
	x += "world"
	return x

glob_test(a)
print(a)

hello
hello

In [171]:
def glob_test2(x):
	x += "world"
	return x

glob_test2("hello")
glob_test2(x)

NameError: name 'x' is not defined

In [172]:
a = "hello"
def glob_test(a):
	global a             # 쓰지 마세요. 함수가 종속성이 생깁니다.
	a += "world"
    return a

glob_test(a)
print(a)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [173]:
variable_a = 1
def sum_(a):
    a = a + 1
    return a

In [174]:
variable_a = sum_(variable_a)   #global 과 같은 효과

In [175]:
variable_a

2

## Recursive

In [179]:
times = int(input("How many times want to curse the beast??: "))
def recurse_beast(times):
	if times < 1:
		print("curse complete!")
	else:
		print("Fusion!!!({} times left)".format(times - 1))
		recurse_beast(times - 1)

recurse_beast(times)

How many times want to curse the beast??: 10
Fusion!!!(9 times left)
Fusion!!!(8 times left)
Fusion!!!(7 times left)
Fusion!!!(6 times left)
Fusion!!!(5 times left)
Fusion!!!(4 times left)
Fusion!!!(3 times left)
Fusion!!!(2 times left)
Fusion!!!(1 times left)
Fusion!!!(0 times left)
curse complete!


---
## List Comprehension
존재하는 리스트를 활용하여 새로운 리스트를 생성하는 방법

비슷한 표현들
- Set Comprehension
- Dictionary Comprehension
- Parallel list Comprehension

In [180]:
old_list = [1,2,3,4,5]

doubled_list = []

for i in old_list:
    doubled_list.append(i*2)

In [181]:
doubled_list

[2, 4, 6, 8, 10]

In [182]:
doubled_list = [i*2 for i in old_list]

In [183]:
doubled_list

[2, 4, 6, 8, 10]

In [185]:
num_list = [i for i in range(100,200+1) ]

## 조건문도 가능하당

In [190]:
old_list = [1,2,3,4,5]

doubled_list = []

for i in old_list:
    if i % 2 ==0:
        doubled_list.append(i*2)

In [192]:
del doubled_list

In [193]:
doubled_list = [i*2 for i in old_list if i % 2 == 0 ]

In [194]:
doubled_list

[4, 8]

## if - else

In [195]:
old_list = [1,2,3,4,5]

doubled_list = []

for i in old_list:
    if i % 2 ==0:
        doubled_list.append(i*2)
    else:
        doubled_list.append(i**2)

In [196]:
doubled_list

[1, 4, 9, 8, 25]

In [197]:
doubled_list = [i*2 if i % 2 == 0 else i**2 for i in old_list ]

In [ ]:
# 숙제1
# 숙제2